<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>THis is the home page!</h1>
<p th:if="${session.user != null}"
   th:text="'Welcome, ' + ${session.user.name}">
</p>

<p th:if="${successMessage}"
   th:text="${successMessage}">
</p>

<!-- Show when NOT logged in -->
<div th:if="${session.user == null}">
    <a href="/register">Register</a><br>
    <a href="/login">Login</a>
</div>

<!-- Show when logged in -->
<div th:if="${session.user != null}">
    <a href="/logout">Logout</a>
</div>

</body>
</html>